body {
    background-color: #0b0b0f;
}

.enlaces {
    background-color: #1c2533;
    color: white;
    padding: 20px 300px 20px 300px;
    text-align: center;
    align-items: center; 
}

.solo {
    display: flex;
    justify-content: center;
}

.solo a{
    text-decoration: none;
    color: white;
}

.cadauno {
    border: 1px;
    border-radius: 10px;
    background-color: #374152;
    padding: 5px;
    margin: 5px;
}

.container{
    border-radius: 10px;
    border: 1px solid #1c2533;
    padding: 10px;
    margin: 50px 300px 100px 300px;
    background-color: #0a0f1f;
    color: white;
}

.container h1{
    color: #fa7516;
}

.abajo {
    background-color: #020617;
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 10px ;    
    height: 50px;
}

